#welcome-section {
  text-align: center;
  top: 0;
  background: #ADF;
  min-height: 55vh;
  padding-top: 45vh;
}

.project-title {
  text-align: center;
}

.project-tile {
  display: grid;
  text-align: center;
  grid-template-columns: 25% 25% 25% 25%;
}

#navbar {
  position: fixed;
  top: 0px;
  right: 20px;
  text-align: right;
}
#navbar a {
  margin-left: 15px;
}

@media only screen and (max-width: 367px) {
  .project-tile {
      display: grid;
  text-align: center;
  grid-template-columns: 50% 50%;
  }
}